.form-container {
    display: flex;
    flex-direction: column;
    height: 700px;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 10rem;
    padding-left: 30%;
    padding-right: 30%;
}

.sign-in-form h1 {
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: lighter;
}

input[type='password'],
input[type='email'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}

#sign-in-btn {
    background: rgba(66, 137, 242);
    color: #fff;
    padding: 1rem;
    margin: 1rem 2rem 0 2rem;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    text-shadow: 1px 1px 3px #333;
    cursor: pointer;
}

.sign-in-form a {
    padding-top: 1rem;
    text-align: center;
    color: inherit;
}

#sign-up-here {
    text-align: center;
    font-size: 18px;
    padding-top: 2rem;
}

#apply-now {
    text-decoration: none;
    color: inherit;
}
