/* Hero Section */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url(https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    max-height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-message {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 40px;
    margin: 0rem 8rem 1rem 8rem;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.orange-text {
    color: rgb(238, 161, 16);
}

#btn-container {
    display: flex;
    justify-content: center;
}

#main-btn {
    text-decoration: none;
    background: rgba(66, 137, 242);
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 0.8rem;
    width: 400px;
    text-align: center;
    border-radius: 4px;
    text-shadow: 1px 1px 3px #333;
    margin-top: 2rem;
}

#main-btn:hover {
    background: rgb(37, 90, 169);
}
.sign-up {
    margin-top: 2rem;
    text-align: center;
    color: #fff;
}

.sign-up a {
    color: inherit;
    margin-left: 0.2rem;
}

/* Second Section */

.second-section {
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 4rem 4rem;
}

.cards {
    flex-basis: 33.33%;
    padding: 1rem;
    text-align: center;
    width: 30%;
}

.cards h2 {
    padding: 1rem 0 2rem 0;
    color: rgb(53, 53, 148);
    font-weight: lighter;
}

.fa-wallet {
    color: rgb(53, 53, 148);
}

.fa-money-bill {
    color: rgb(53, 53, 148);
}

.fa-business-time {
    color: rgb(53, 53, 148);
}

/* Third Section */

.third-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 720px;
    width: 100%;
}

.personal-story-card {
    flex-basis: 33.33%;
}

.personal-story-card:hover {
    background-color: black;
    opacity: 0.4;
}

#personal-story-1 {
    background-image: url(https://images.unsplash.com/photo-1535295972055-1c762f4483e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    width: 35%;
}

#personal-story-2 {
    background-image: url(https://images.unsplash.com/photo-1524250502761-1ac6f2e30d43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    width: 35%;
}

#personal-story-3 {
    background-image: url(https://images.unsplash.com/photo-1450297350677-623de575f31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    width: 35%;
}
